.App {
  text-align: center;
  font-size: 1.5rem;
}

p {
  font-size: 2.5rem;
}

.inputs {
  display: flex;
  justify-content: space-around;
}

.form--input {
  width: 45%;
  /* padding: 20px; */
  height: 40px;
  border-radius: 5px;
  border: 1px solid #d5d4d8;
  text-indent: 5px;
}

.form-button {
  border-radius: 5px;

  background: orange;
  margin-top: 10px;
  border: none;
  cursor: pointer;
  padding: 7px 10px 7px 10px;
}
